@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

#menu {
	margin: 0 auto;
	height: 55px;
	width: 1000px; 
}

#panel {
	width: 100%;
	height: 55px;
	background: #393939;
}

.nav li {
	list-style: none;
	float: left;
	width: 250px;
}

.nav ul {
	display: block;
}

.nav a {
	text-decoration: none;
	font-size: 20px;
	color: #f3f3f3;
	background: #393939;
	display: block;
	
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	
	padding: 15px;
	text-align: center;
	transition: 0.3s all;
}

.nav:first-child a{border-left: 0;}
.nav:last-child a{border-right: 0;}

.nav li a:hover {
	background: #666;
}

.drop li:last-child a{
	border-radius: 0 0 3px 3px;
}

/* Всплывание */

.list {
	position: relative;
}

.drop {
	position: absolute;
	opacity: 0;
	left: -9999em;
}

.list:hover .drop{
	left: 0;
	opacity: 1;
	transition: 0.3s opacity;
}


/*#sidebar.active {
	left: 20px;
}

#sidebar ul li:first-child {
	color:#f3f3f3;
	text-align: center;
	font-size: 1.95em;
	list-style: none;
	padding: 25px 10px 10px 10px;	
}

#sidebar ul li:not(:first-child) {
	width: 90%;
	margin-left: 10%;
	font-size: 1.1em;
	list-style: none;
	padding: 15px 10px;	
}

#sidebar ul li a {
	color: #d0d0d0;
	text-decoration: none;
}

#sidebar ul li a:hover {color: #568481;}

#sidebar .tButton {
	position: absolute;
	left: 270px;
	top: 20px;
	background: #393939;
	padding: 10px;
	border-radius: 12px;
	cursor: pointer;
}

#sidebar .tButton span {
	display: block;
	width: 25px;
	height: 4px;
	background-color: #f3f3f3;
	margin: 4px 0;
}

#sidebar .tButton:hover {background: #f3f3f3;}
#sidebar .tButton:hover span {background: #393939;} */






